name: Main workflow

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: '29.4'
      - uses: conao3/setup-keg@master
      - name: Run lint
        run: make lint

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '26.3'
          - '27.1'
          - '27.2'
          - '28.1'
          - '28.2'
          - '29.1'
          - '29.2'
          - '29.3'
          - '29.4'
          - 'snapshot'
        include:
          - emacs_version: 'snapshot'
            allow_failure: true
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - uses: conao3/setup-keg@master

      - name: Run tests
        if: matrix.allow_failure != true
        run: make test

      - name: Run tests (allow failure)
        if: matrix.allow_failure == true
        run: make test
        continue-on-error: true
